# Configuration locale pour la branche hard_deploy
OPTION_A=Cats
OPTION_B=Dogs

# vote
PORT=8080
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_SSL=false

# result
RESULT_PORT=8081
DATABASE_URL=postgres://postgres:postgres@localhost/postgres

# worker
REDIS_CONNECTION_STRING=localhost
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_CONNECTION_STRING='Server=localhost;Username=postgres;Password=postgres;Database=postgres;'
